* {
	box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, hr, tt, em, sup, sub,
fieldset, legend, label, input, select, button, textarea, p, span, small, blockquote, table, tbody, th, td, img, a, ins,
del, u, i, main, header, hgroup, nav, section, aside, article, figure, figcaption, footer {
	padding: 0;
	margin: 0;
	outline: 0;
}

header, hgroup, menu, main, nav, section, aside, article, details,
figure, figcaption, footer {
	display: block;
}

ins, em, del, u, i {
	text-decoration: none;
	font-style: normal;
}

sup, sub {
	font-size: 0.6em;
}

sup {
	vertical-align: top;
}

fieldset, img, legend {
	border: 0;
}

ul {
	list-style-type: none;
}
